.model-3{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-NA.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.model-x{
    background-image: url("../assets/images/model-x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.model-y{
    background-image: url("../assets/images/model-y.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.model-s{
    background-image: url("../assets/images/model-s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.solar-panels{
    background-image: url("../assets/images/solar-panel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.solar-roof{
    background-image: url("../assets/images/solar-roof.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.powerwall{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.accessories{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
